.about{
    height: 100%;
    width: 100%;
    text-align: center;

    &__title{
        margin-bottom: 10rem;
    }

    &__data{
        text-align: center;
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-areas:
        'picture'
        'info';
        row-gap: 2rem;
    }

    &__img{
        grid-area: picture;
        margin: 0 auto;
        max-width: 350px;
    }

    &__info{
        grid-area: info;
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 2rem;
        padding-bottom: 6rem;
    }

    &__subtitle{
        font-size: var(--h3-font-size);
        font-weight: var(--font-bold);
    }

    &__button{
        margin-top: var(--m-1);
    }
}