@media screen and (min-width: 769px){
    .nav{

        &__logo{
            width: 180px;
        }

        &__img--sm{
            display: none;
        }

        &__img--lg{
            display: inline-block;
        }

        &__list{
            position: relative;
            display: flex;
            align-items: center;
            column-gap: 2rem;
            font-size: 1.6rem;
            font-weight:  var(--font-regular);
            margin-right: var(--m-1);
        }

        &__link{
            color: var(--text-color);

            &:hover::after{
                height: 0.3rem;
            }
        }

        &__icon--menu{
            display: none;
        }
    }

    .section-title::after{
    top: 9.7rem;
    }

    .button--cv{
        width: 230px;
        margin-top: var(--m-1-5);
        padding: 1.5rem 3rem;
        place-self: start;
    }

    .home{
        height: 100vh;
        padding-right: 4rem;
        padding-left: 4rem;
        column-gap: 5rem;
        grid-template-rows: 12rem 1fr;
        grid-template-areas:
        'header-height header-height'
        'info picture'
        'info picture';

        &__wrapper{
            text-align: start;
            align-items: start;
            row-gap: 4rem;
        }

        &__img{
            width: 300px;
            max-width: 400px;
        }
    }
}