/*=============== BUTTONS ===============*/
.button{
    display: inline-block;
    background-color: var(--button-color);
    padding: .7rem 2.2rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    border-radius: 4px;
    transition: .3s;

    &:hover{
        background-color: var(--button-color-alt);
    }
};