/*=============== BUTTONS ===============*/
.button{
    display: inline-block;
    background-color: var(--button-color);
    color: var(--text-color);
    width: auto;
    padding: 1.3rem 3rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-bold);
    transition: .3s;

    &:hover{
        background-color: var(--button-color-alt);
    }

    &--cv{
        display: flex;
        width: 200px;
        margin-top: var(--m-0-5);
        justify-content: space-between;
        align-items: center;
    }
};