.main{
    width: 100%;
}

.home{
    height: 700px;
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
    'top'
    'wrapper'
    'bottom';

    &__wrapper{
        display: grid;
        text-align: center;
        justify-items: center;
        grid-area: wrapper;
        row-gap: 3rem;
        grid-template-rows: auto auto;
        grid-template-areas:
        'picture'
        'info';
    }

    &__img{
        display: flex;
        max-width: 175px;
        grid-area: picture;
        align-items: center;
        justify-self: center;
    }

    &__data{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 3rem;
        align-items: center;
        text-align: center;
    }

    &__title{
        font-size: var(--h1-font-size);
        font-weight: var(--font-bold);

        &--color{
            position: relative;
        }
    }

}