.main{
    width: 100%;
}

.home{
    height: 100vh;
    display: grid;
    padding-top: 5rem;
    grid-template-rows: auto auto;
    grid-template-areas:
    'info info'
    'icons picture';

    &__data{
        align-self: center;
        grid-area: info;
    }

    &__title{
        font-size: var(--h1-font-size);
        font-weight: var(--font-bold);
        margin-bottom: var(--m-1-5);

        &--color{
            position: relative;
        }
    }

    &__social{
        display: flex;
        grid-area: icons;
        flex-direction: column;
        justify-content: center;
    }

    &__social-icon{
        width: max-content;
        margin-bottom: var(--m-1);
        font-size: 2.2rem;

        &:hover{
            color: var(--primary-color);
        }
    }

    &__img{
        display: flex;
        min-width: 170px;
        max-width: 300px;
        margin-left: 2rem;
        grid-area: picture;
        align-items: center;
        justify-self: end;
    }
}