.main{
    width: 100%;
}

.home{
    height: 100vh;
    display: grid;
    padding-top: 7rem;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    'picture'
    'info';

    &__data{
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
        text-align: center;
        align-self: center;
        grid-area: info;
    }

    &__title{
        font-size: var(--h1-font-size);
        font-weight: var(--font-bold);

        &--color{
            position: relative;
        }
    }

    &__img{
        display: flex;
        width: 174px;
        max-width: 243px;
        grid-area: picture;
        align-items: center;
        justify-self: center;
    }
}