.skills{
    position: relative;
    text-align: center;
    height: 100%;
    
    &__title{
        margin-bottom: 10rem;
    }

    &__wrapper{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 2rem;
        margin-bottom: 7rem;
    }

    &__article{
        flex: 0 1 80%;
    }



    // &__frontend,
    // &__backend,
    // &__others{
        
    // }

    &__list{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
        justify-items: center;
        align-items: center;
        padding: 2rem 0;
        gap: 5rem 3rem;

        // display: flex;
        // flex-wrap: wrap;
        // justify-content: space-around;
        // column-gap: 2rem;
        // row-gap: 2rem;
    }

    &__img{
        max-width: 85px;
    }

}