
.container{
    min-width: 300px;
    max-width: 1024px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.section-title{
    position: relative;
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    padding-top: 5rem;
    margin-bottom: var(--m-2);
    text-align: center;
}

.section-title::after{
    position: relative;
    content: "";
    width: 64px;
    height: 0.3rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 3.2rem;
    background-color: var(--primary-color);
}

.section{
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-color: var(--color-aside-menu);
}
