/*=============== VARIABLES CSS ===============*/
:root{
    --header-height: 5rem;

    /*========== Colors ==========*/
    --primary-color: #ffc600;
    --button-color: #ffc600;
    --background-aside-menu: #000000;
    --color-aside-menu: #ececec;
    --button-color-alt: #ffcd16;
    --title-color: #000000;
    --text-color: #000000;
    --text-color-light: #ffffff;
    --body-color: #fdfdfd;
    --container-color: #ffffff;
    --border-color: #ffc600;

    /*========== Font and typography ==========*/
    /* 1rem = 10px */
    --body-font: 'Roboto Mono', monospace;

    --biggest-font-size: 3.2rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.8rem;
    --h3-font-size: 1.7rem;
    --normal-font-size: 1.5rem;
    --small-font-size: 1.3rem;
    --smaller-font-size: 1.2rem;

    // Responsive typography
    @media screen and (min-width: 968px){
        --biggest-font-size: 4.8rem;
        --h1-font-size: 3.6rem;
        --h2-font-size: 2.4rem;
        --h3-font-size: 2rem;
        --normal-font-size: 1.6rem;
        --small-font-size: 1.4rem;
        --smaller-font-size: 1.3rem;
    }

    /*========== Font weight ==========*/
    --font-thin: 100;
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;

    /*========== Marges ==========*/
    --m-0-5: 0.8rem;
    --m-1: 1.6rem;
    --m-1-5: 2.4rem;
    --m-2: 3.2rem;
    --m-2-5: 4.0rem;
    --m-3: 4.8rem;


    /*========== z index ==========*/
    --z-back: -1;
    --z-tooltip: 10;
    --z-fixed: 100;
}